Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
google-generativeai==0.8.5
Pillow==11.3.0
python-dotenv==1.1.1
redis==6.4.0
sendgrid==6.11.0
