<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form_type == "register" %}
    <h2>Register</h2>
    <form action="/register">
        <label for="uname">User Name:</label>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <label for="re-password">Re-Enter Password:</label>
        <input type="text" id="re-password" name="re-password"><br><br>
        <input type="submit" value="Register">
    </form>
    {% endif %}
    {% if form_type == "login" %}
    <h2>Login</h2>
    <form action="/login">
        <label for="uname">User Name:</label>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    {% endif %}
</body>
</html>